In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("raw_housing.csv")
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

Question 1

What's the version of Pandas that you installed?

You can get the version information using the __version__ field:

In [4]:
pd.__version__

'2.0.1'

Question 2

How many columns are in the dataset?

10

6560

10989

20640

In [5]:
num_cols = data.shape[1]
print(num_cols)

10

Question 3

Which columns in the dataset have missing values?

total_rooms

total_bedrooms

both of the above

no empty columns in the dataset

In [6]:
missing_cols = data.columns[data.isnull().any()]
print(missing_cols)

Index(['total_bedrooms'], dtype='object')

Question 4

How many unique values does the ocean_proximity column have?

• 3

• 5
 
• 7

• 9

In [16]:
unique_values = data['ocean_proximity'].unique()
print(unique_values)

['NEAR BAY' '<1H OCEAN' 'INLAND' 'NEAR OCEAN' 'ISLAND']

Question 5

What's the average value of the median_house_value for the houses located near the bay?

• 49433

• 124805

• 259212

• 380440

In [14]:
average_value = data[data['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()
print(average_value)

259212.31179039303

Question 6

1. Calculate the average of total_bedrooms column in the dataset.
2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3. Now, calculate the average of total_bedrooms again.
Has it changed?

Hint: take into account only 3 digits after the decimal point.

Has it changed?

• Yes

• No

In [15]:
# Step 1: Calculate the average of total_bedrooms column
mean_value_before = data['total_bedrooms'].mean()

# Step 2: Use the fillna method to fill the missing values in total_bedrooms with the mean value
data['total_bedrooms'].fillna(mean_value_before, inplace=True)

# Step 3: Calculate the average of total_bedrooms again
mean_value_after = data['total_bedrooms'].mean()
print(mean_value_before, mean_value_after)

537.8705525375618 537.8705525375617

Question 7

1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the last element of w?

In [18]:
# Step 1: Select all the options located on islands
island_data = data[data['ocean_proximity'] == 'ISLAND']

# Step 2: Select only columns housing_median_age, total_rooms, total_bedrooms
selected_columns = island_data[['housing_median_age', 'total_rooms', 'total_bedrooms']]

# Step 3: Get the underlying NumPy array
X = selected_columns.values

# Step 4: Compute matrix-matrix multiplication between the transpose of X and X
XTX = X.T.dot(X)

# Step 5: Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Step 6: Create an array y with values [950, 1300, 800, 1000, 1300]
y = np.array([950, 1300, 800, 1000, 1300])

# Step 7: Multiply the inverse of XTX with the transpose of X, and then multiply the result by y
w = XTX_inv.dot(X.T).dot(y)

# last element w
last_element = w[-1]
print(last_element)

5.699229455065586